/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-nov-2018, 0:10:11
    Author     : Sami
*/
body {
    background-color:#58D3F7;
}
div.menu {
    position: fixed;
    top: 0px;
    background-color: #0080FF;
    white-space: nowrap;
    width: 100%;
    height: 60px;
}

a{  
    
    color: white;
    float:right;
    text-align: center;
    padding: 18px;   
}
a:hover {
    background-color: #58D3F7;
}
#start{
    position:absolute;
    top: 13px;
    background-color: #58D3F7;
    left: 400px;
    width: 9px;
    height: 33px;
    
    
}
#subtitle{
    position:absolute;
    top: 18px;
    color: white;
    font-weight: bold;
    left: 430px;
    letter-spacing: 5px;
}
.title{
    position: absolute;
    left:  150px;    
    font-size: xx-large;
    color: white;
    padding: 5px;
    font-family: "Tahoma",serif;
}
.finalpage{
    background-color: #0080FF;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    
}
.bottom{
    position: absolute;
    left: 650px;
    top:25px;
    font-size: xx-large;
    color: white;
}
.bottomimage{    
    position: absolute;
    top: 23px;
    left: 520px;
    width: 100px;
    height: 60px;
    border-color: lightseagreen;
    border-style: solid;
    
}
#final{
    position: absolute;
    top: 32px;
    left: 770px;
    background-color: #58D3F7;
    width: 9px;
    height: 37px;
}
#mainimage{
    position: absolute;
    width: 420px;
    height: 420px;
    border-color: lightseagreen;
    border-style: solid;
    border-width: 10px;
    top:96px;
    left: 250px;
}
#plidea{
    position: absolute;
    top: 160px;
    left: 880px;
    font-size: xx-large;
    font-weight: bold;
    color: #0080FF;
    
    
}
#aboutus{
    position: absolute;
    top: 250px;
    left: 700px;
    width: 600px;
    height: 160px;
    background-color: #0080FF;    
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text-justify{
    font-size: large;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    
}
.textfield{
    position: absolute;
    background-color: #0080FF;
    top: 200px;
    left: 460px;
    color: white;
    width:460px;
    height:200px;
    font-size: large;
}
.textstyle{
    position: absolute;
    
    right: 30px;
    background-color: #58D3F7;
    width: 200px;
    height: 40px;
    
}
#text1{
    font-size: large;
    position:absolute;
    top: 10px;
    left: 40px;    
}
#text2{
    font-size: large;
    position:absolute;
    top: 60px;
    left: 40px;  
}
#text3{
    font-size: large;
    position:absolute;
    top: 115px;
    left: 40px; 
}
#text4{
    font-size: large;
    position:absolute;
    
    left: 40px; 
}
#box{
    position:absolute;
    left: 220px;
}
#welcome{
    position:absolute;
    top: 110px;
    left: 300px;
    color: white;
    font-weight: bold;
    
}
#button{
    position: absolute;
    top: 430px;
    left:580px;
}
#button2{
    position: absolute;
    top: 430px;
    left:730px;
}
.btn-text-primary{
    background-color: lightseagreen;
    color:white;
    border-color: #0080FF;
    border-style: solid;
    border-width: 3px;
    font-weight: bold;
}
